In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_excel('Cyclistic.xlsx')
df.head(10)

,Source.Name,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,202106-divvy-tripdata.xls,99FEC93BA843FB20,electric_bike,2021-06-13 14:31:00,2021-06-13 14:34:00,NaN,NaN,NaN,NaN,41.80,-87.59,41.800000,-87.600000,member
1,202106-divvy-tripdata.xls,06048DCFC8520CAF,electric_bike,2021-06-04 11:18:00,2021-06-04 11:24:00,NaN,NaN,NaN,NaN,41.79,-87.59,41.800000,-87.600000,member
2,202106-divvy-tripdata.xls,9598066F68045DF2,electric_bike,2021-06-04 09:49:00,2021-06-04 09:55:00,NaN,NaN,NaN,NaN,41.80,-87.60,41.790000,-87.590000,member
3,202106-divvy-tripdata.xls,B03C0FE48C412214,electric_bike,2021-06-03 19:56:00,2021-06-03 20:21:00,NaN,NaN,NaN,NaN,41.78,-87.58,41.800000,-87.600000,member
4,202106-divvy-tripdata.xls,B9EEA89F8FEE73B7,electric_bike,2021-06-04 14:05:00,2021-06-04 14:09:00,NaN,NaN,NaN,NaN,41.80,-87.59,41.790000,-87.590000,member
5,202106-divvy-tripdata.xls,62B943CEAAA420BA,electric_bike,2021-06-03 19:32:00,2021-06-03 19:38:00,NaN,NaN,NaN,NaN,41.78,-87.58,41.780000,-87.580000,member
6,202106-divvy-tripdata.xls,7E2546FBA79C46EE,electric_bike,2021-06-10 16:30:00,2021-06-10 16:36:00,NaN,NaN,NaN,NaN,41.79,-87.60,41.790000,-87.590000,member
7,202106-divvy-tripdata.xls,3DDF3BBF6C4C3C89,electric_bike,2021-06-10 17:00:00,2021-06-10 17:06:00,NaN,NaN,NaN,NaN,41.79,-87.59,41.800000,-87.590000,member
8,202106-divvy-tripdata.xls,2608805637155AB6,electric_bike,2021-06-10 12:46:00,2021-06-10 12:55:00,NaN,NaN,NaN,NaN,41.93,-87.67,41.940000,-87.680000,member
9,202106-divvy-tripdata.xls,AF529C946F28ED42,electric_bike,2021-06-23 17:57:00,2021-06-23 18:06:00,NaN,NaN,Michigan Ave & Oak St,13042,41.88,-87.61,41.901052,-87.623698,member

In [4]:
df_copy=df              #copying data

In [5]:
#data cleaning
cols_drop=['ride_id','start_lat','start_lng','end_lat','end_lng'] 

#columns to drop
df_copy=df_copy.drop(columns=cols_drop, axis=1)
df_copy=df_copy.drop(columns='Source.Name')

In [6]:
#finding ride length by calculating difference between times in minutes
df_copy['ride_length'] = (df_copy['ended_at'] - df_copy['started_at']).dt.total_seconds()/60

In [7]:
#finding the date 
df_copy['Weekdays']=df_copy['started_at'].dt.dayofweek #gives only the index(0-monday,6-sunday)

In [8]:
df_copy['Day'] = np.where(df_copy['Weekdays']==6, 'Sunday',
                 np.where(df_copy['Weekdays']==5, 'Saturday','Weekday'))

In [40]:
df_copy['ride_weekend']=np.where(df_copy['Weekdays']==6, df_copy['ride_length'],
                        np.where(df_copy['Weekdays']==5, df_copy['ride_length'],0 ))

In [45]:
df_copy['ride_weekday']=np.where(df_copy['Weekdays']!=6, df_copy['ride_length'],
                        np.where(df_copy['Weekdays']!=5, df_copy['ride_length'],0 ))

In [53]:
df_copy['ride_weekday']=np.where(df_copy['ride_weekday']>0, df_copy['ride_weekday'],
                        np.where(df_copy['ride_weekday']>0, df_copy['ride_weekday'],0 ))

In [56]:
df_copy['ride_weekend']=np.where(df_copy['ride_weekend']>0, df_copy['ride_weekend'],
                        np.where(df_copy['ride_weekend']>0, df_copy['ride_weekend'],0 ))

In [57]:
df_copy.describe()

         ride_length       Weekdays   ride_weekend   ride_weekday
count  786420.000000  786420.000000  786420.000000  786420.000000
mean       18.812937       2.986540       6.661830      18.813698
std       156.381971       1.988995      96.923329     156.381776
min       -58.000000       0.000000       0.000000       0.000000
25%         6.000000       1.000000       0.000000       6.000000
50%        10.000000       3.000000       0.000000      10.000000
75%        18.000000       5.000000       4.000000      18.000000
max     41645.000000       6.000000   29271.000000   41645.000000